<?xml version="1.0"?>
<launch>
	<arg name="gui" default="false" />
	<param name="use_gui" value="$(arg gui)"/>

<!-- Camera linked to world-->
    <param name="robot_description"	textfile="$(find deepgaze_ros)/config/kinect_world.urdf" />
    <node name="world_to_human" pkg="tf" type="static_transform_publisher" args="0 2 3 0 0 0 /world /human 10"/>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find deepgaze_ros)/config/kinect.rviz" required="true" />

</launch>
